extends base/layout

block main
  #mainbody.container
    .row
      #mapdiv.col-xs-6
        .col-xs-12
          h1#mapheader My Map
          #map
          p#loc=json
        .col-xs-12
          #travelstats
          table.table
            thead.thead-inverse
              tr
                td#tableheader Travel Stats
            tbody
              tr
                td World Coverage
                td#worldCoverage
              tr
                td Travel Percentage
                td#travelPercentage
              tr
                td Travel Level
                td#travelLevel
      .col-xs-6

  script(type='text/javascript', src='js/locations.js')


