extends base/layout

block main
  #mainbody.container
    .row
      #mapdiv.col-xs-6
        .col-xs-12
          h1#header My Map
          #map
          p#loc=json
        .col-xs-12
          #travelstats
          table.table
            tr
              th(colspan='2') Travel Stats
            tbody
              tr
                td World Coverage
                td#worldCoverage
              tr
                td Travel Percentage
                td#travelPercentage
              tr
                td Travel Level
                td#travelLevel
      #listdiv.col-xs-6
        h1#header My Lists
        button#createNewListButton.btn.btn-mdb.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
          | + Create New List
        #cardList
          .row
            - for (var i = 0; i < lists.length; i++) {
                if(i%2)
                  .card.col-xs-5.pull-right
                    .card-header.elegant-color-dark.white-text=lists[i].location
                    .card-block
                      a.editListButton.btn.btn-lime("data-id" = lists[i]._id) Edit
                      a.deleteListButton.btn.btn-cyan("data-id" = lists[i]._id) Delete
                else
                  .card.col-xs-5.pull-left
                    .card-header.elegant-color-dark.white-text=lists[i].location
                    .card-block
                      a.editListButton.btn.btn-lime("data-id" = lists[i]._id) Edit
                      a.deleteListButton.btn.btn-cyan("data-id" = lists[i]._id) Delete
                if(i%2)
                  div(style="clear:both;")
            - }

      //- NEW FORM MODAL
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title New Travel Card
            .modal-body
               form#addlist(role='form')
                .card-block
                  .text-xs-center
                    h3
                      i.fa.fa-plane
                      |  My List
                    hr.m-t-2.m-b-2
                    //- // Body
                    .md-form.location
                      i.fa.fa-map-marker.prefix
                      input.form-control(type='text')
                      label(for='location') Location
                    .md-form.accomodation
                      i.fa.fa-bed.prefix
                      input.form-control(type='text')
                      label(for='accomodation')  Accomodation
                    .md-form.foodandbev
                      i.fa.fa-glass.prefix
                      input#foodandbevone.form-control(type='text')
                      input.form-control(type='text')
                      input.form-control(type='text')
                      input.form-control(type='text')
                      input.form-control(type='text')
                      label(for='foodandbev')  Eats and Drinks
                    .md-form.activities
                      i.fa.fa-camera-retro.prefix
                      input.form-control(type='text')
                      input.form-control(type='text')
                      input.form-control(type='text')
                      input.form-control(type='text')
                      input.form-control(type='text')
                      label(for='activities')  Fun things to do
                  .text-xs-center
                    button.btn.btn-default Save My List
            .modal-footer
              button.btn.btn-deep-purple(type='button', data-dismiss='modal') Close


block script
  script(type='text/javascript', src='js/locations.js')
  script(type='text/javascript', src='js/list.js')
