extends base/layout

block main
  nav.navbar.navbar-dark.bg-primary
    //- Collapse button
    button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx2')
      i.fa.fa-bars
    .container
      //- Collapse content
      #collapseEx2.collapse.navbar-toggleable-xs
        //- Navbar Brand
        a.navbar-brand(href='#') Travelup
        //- Links
        ul.nav.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') My Profile
          li.nav-item
            a.nav-link(href='#') Friends
      //- /.Collapse content
  #mainbody.container
    .row
      form.col-xs-6(action='/user', method='PUT')
        #myLocations
          .col-xs-12
            h1  My Locations
            #accordion(role='tablist', aria-multiselectable='true')
              .panel.panel-default
                #asia.panel-heading(role='tab')
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                      | Asia
                #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='asia')
                  fieldset.form-group.checkbox
                    input#Afghanistan(type='checkbox', value='Afghanistan')
                    label(for='Afghanistan') Afghanistan
                  fieldset.form-group.checkbox
                    input#Armenia(type='checkbox', value='Armenia')
                    label(for='Armenia') Armenia
                  fieldset.form-group.checkbox
                    input#Azerbaijan(type='checkbox', value='Azerbaijan')
                    label(for='Azerbaijan') Azerbaijan
                  fieldset.form-group.checkbox
                    input#Bangladesh(type='checkbox', value='Bangladesh')
                    label(for='Bangladesh') Bangladesh
                  fieldset.form-group.checkbox
                    input#Brunei(type='checkbox', value='Brunei')
                    label(for='Brunei') Brunei
                  fieldset.form-group.checkbox
                    input#Bhutan(type='checkbox', value='Bhutan')
                    label(for='Bhutan') Bhutan
                  fieldset.form-group.checkbox
                    input#Cambodia(type='checkbox', value='Cambodia')
                    label(for='Cambodia') Cambodia
                  fieldset.form-group.checkbox
                    input#China(type='checkbox', value='China')
                    label(for='China') China
                  fieldset.form-group.checkbox
                    input#India(type='checkbox', value='India')
                    label(for='India') India
                  fieldset.form-group.checkbox
                    input#Indonesia(type='checkbox', value='Indonesia')
                    label(for='Indonesia') Indonesia
                  fieldset.form-group.checkbox
                    input#Iraq(type='checkbox', value='Iraq')
                    label(for='Iraq') Iraq
                  fieldset.form-group.checkbox
                    input#Iran(type='checkbox', value='Iran')
                    label(for='Iran') Iran
                  fieldset.form-group.checkbox
                    input#Israel(type='checkbox', value='Israel')
                    label(for='Israel') Israel
                  fieldset.form-group.checkbox
                    input#Japan(type='checkbox', value='Japan')
                    label(for='Japan') Japan
                  fieldset.form-group.checkbox
                    input#Jordan(type='checkbox', value='Jordan')
                    label(for='Jordan') Jordan
                  fieldset.form-group.checkbox
                    input#Kyrgyzstan(type='checkbox', value='Kyrgyzstan')
                    label(for='Kyrgyzstan') Kyrgyzstan
                  fieldset.form-group.checkbox
                    input#Korea(type='checkbox', value='Korea')
                    label(for='Korea') Korea
                  fieldset.form-group.checkbox
                    input#Kuwait(type='checkbox', value='Kuwait')
                    label(for='Kuwait') Kuwait
                  fieldset.form-group.checkbox
                    input#Kazakhstan(type='checkbox', value='Kazakhstan')
                    label(for='Kazakhstan') Kazakhstan
                  fieldset.form-group.checkbox
                    input#LaoPDR(type='checkbox', value='Lao PDR')
                    label(for='LaoPDR') Laos
                  fieldset.form-group.checkbox
                    input#Lebanon(type='checkbox', value='Lebanon')
                    label(for='Lebanon') Lebanon
                  fieldset.form-group.checkbox
                    input#Myanmar(type='checkbox', value='Myanmar')
                    label(for='Myanmar') Myanmar
                  fieldset.form-group.checkbox
                    input#Mongolia(type='checkbox', value='Mongolia')
                    label(for='Mongolia') Mongolia
                  fieldset.form-group.checkbox
                    input#Malaysia(type='checkbox', value='Malaysia')
                    label(for='Malaysia') Malaysia
                  fieldset.form-group.checkbox
                    input#Nepal(type='checkbox', value='Nepal')
                    label(for='Nepal') Nepal
                  fieldset.form-group.checkbox
                    input#Oman(type='checkbox', value='Oman')
                    label(for='Oman') Oman
                  fieldset.form-group.checkbox
                    input#Palestine(type='checkbox', value='Palestine')
                    label(for='Palestine') Palestine
                  fieldset.form-group.checkbox
                    input#Pakistan(type='checkbox', value='Pakistan')
                    label(for='Pakistan') Pakistan
                  fieldset.form-group.checkbox
                    input#Philippines(type='checkbox', value='Philippines')
                    label(for='Philippines') Philippines
                  fieldset.form-group.checkbox
                    input#Qatar(type='checkbox', value='Qatar')
                    label(for='Qatar') Qatar
                  fieldset.form-group.checkbox
                    input#SaudiArabia(type='checkbox', value='Saudi Arabia')
                    label(for='SaudiArabia') Saudi Arabia
                  fieldset.form-group.checkbox
                    input#DemRepKorea(type='checkbox', value='Dem. Rep. Korea')
                    label(for='DemRepKorea') South Korea
                  fieldset.form-group.checkbox
                    input#SriLanka(type='checkbox', value='Sri Lanka')
                    label(for='SriLanka') Sri Lanka
                  fieldset.form-group.checkbox
                    input#Syria(type='checkbox', value='Syria')
                    label(for='Syria') Syria
                  fieldset.form-group.checkbox
                    input#Taiwan(type='checkbox', value='Taiwan')
                    label(for='Taiwan') Taiwan
                  fieldset.form-group.checkbox
                    input#Thailand(type='checkbox', value='Thailand')
                    label(for='Thailand') Thailand
                  fieldset.form-group.checkbox
                    input#Turkmenistan(type='checkbox', value='Turkmenistan')
                    label(for='Turkmenistan') Turkmenistan
                  fieldset.form-group.checkbox
                    input#Tajikistan(type='checkbox', value='Tajikistan')
                    label(for='Tajikistan') Tajikistan
                  fieldset.form-group.checkbox
                    input#Vietnam(type='checkbox', value='Vietnam')
                    label(for='Vietnam') Vietnam
                  fieldset.form-group.checkbox
                    input#Uzbekistan(type='checkbox', value='Uzbekistan')
                    label(for='Uzbekistan') Uzbekistan
                  fieldset.form-group.checkbox
                    input#UnitedArabEmirates(type='checkbox', value='United Arab Emirates')
                    label(for='UnitedArabEmirates') United Arab Emirates
                  fieldset.form-group.checkbox
                    input#Yemen(type='checkbox', value='Yemen')
                    label(for='Yemen') Yemen
              .panel.panel-default
                #europe.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                      | Europe
                #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='europe')
                  fieldset.form-group.checkbox
                    input#Albania(type='checkbox', value='Albania')
                    label(for='Albania') Albania
                  fieldset.form-group.checkbox
                    input#Austria(type='checkbox', value='Austria')
                    label(for='Austria') Austria
                  fieldset.form-group.checkbox
                    input#belgium(type='checkbox', value='Belgium')
                    label(for='belgium') Belgium
                  fieldset.form-group.checkbox
                    input#Bulgaria(type='checkbox', value='Bulgaria')
                    label(for='Bulgaria') Bulgaria
                  fieldset.form-group.checkbox
                    input#BosniaandHerz(type='checkbox', value='Bosnia and Herz.')
                    label(for='BosniaandHerz') Bosnia and Herz
                  fieldset.form-group.checkbox
                    input#Belarus(type='checkbox', value='Belarus')
                    label(for='Belarus') Belarus
                  fieldset.form-group.checkbox
                    input#Croatia(type='checkbox', value='Croatia')
                    label(for='Croatia') Croatia
                  fieldset.form-group.checkbox
                    input#NCyprus(type='checkbox', value='N. Cyprus')
                    label(for='NCyprus') Northern Cyprus
                  fieldset.form-group.checkbox
                    input#Cyprus(type='checkbox', value='Cyprus')
                    label(for='Cyprus') Cyprus
                  fieldset.form-group.checkbox
                    input#CzechRep(type='checkbox', value="Czech Rep.")
                    label(for='CzechRep') Czech Rep.
                  fieldset.form-group.checkbox
                    input#Denmark(type='checkbox', value='Denmark')
                    label(for='Denmark') Denmark
                  fieldset.form-group.checkbox
                    input#Estonia(type='checkbox', value='Estonia')
                    label(for='Estonia') Estonia
                  fieldset.form-group.checkbox
                    input#France(type='checkbox', value='France')
                    label(for='France') France
                  fieldset.form-group.checkbox
                    input#Finland(type='checkbox', value='Finland')
                    label(for='Finland') Finland
                  fieldset.form-group.checkbox
                    input#Greece(type='checkbox', value='Greece')
                    label(for='Greece') Greece
                  fieldset.form-group.checkbox
                    input#Georgia(type='checkbox', value='Georgia')
                    label(for='Georgia') Georgia
                  fieldset.form-group.checkbox
                    input#Germany(type='checkbox', value='Germany')
                    label(for='Germany') Germany
                  fieldset.form-group.checkbox
                    input#Greenland(type='checkbox', value='Greenland')
                    label(for='Greenland') Greenland
                  fieldset.form-group.checkbox
                    input#Hungary(type='checkbox', value='Hungary')
                    label(for='Hungary') Hungary
                  fieldset.form-group.checkbox
                    input#Italy(type='checkbox', value='Italy')
                    label(for='Italy') Italy
                  fieldset.form-group.checkbox
                    input#Iceland(type='checkbox', value='Iceland')
                    label(for='Iceland') Iceland
                  fieldset.form-group.checkbox
                    input#Ireland(type='checkbox', value='Ireland')
                    label(for='Ireland') Ireland
                  fieldset.form-group.checkbox
                    input#Kosovo(type='checkbox', value='Kosovo')
                    label(for='Kosovo') Kosovo
                  fieldset.form-group.checkbox
                    input#Luxembourg(type='checkbox', value='Luxembourg')
                    label(for='Luxembourg') Luxembourg
                  fieldset.form-group.checkbox
                    input#Latvia(type='checkbox', value='Latvia')
                    label(for='Latvia') Latvia
                  fieldset.form-group.checkbox
                    input#Lithuania(type='checkbox', value='Lithuania')
                    label(for='Lithuania') Lithuania
                  fieldset.form-group.checkbox
                    input#Macedonia(type='checkbox', value='Macedonia')
                    label(for='Macedonia') Macedonia
                  fieldset.form-group.checkbox
                    input#Moldova(type='checkbox', value='Moldova')
                    label(for='Moldova') Moldova
                  fieldset.form-group.checkbox
                    input#Montenegro(type='checkbox', value='Montenegro')
                    label(for='Montenegro') Montenegro
                  fieldset.form-group.checkbox
                    input#Netherlands(type='checkbox', value='Netherlands')
                    label(for='Netherlands') Netherlands
                  fieldset.form-group.checkbox
                    input#Norway(type='checkbox', value='Norway')
                    label(for='Norway') Norway
                  fieldset.form-group.checkbox
                    input#Portugal(type='checkbox', value='Portugal')
                    label(for='Portugal') Portugal
                  fieldset.form-group.checkbox
                    input#Poland(type='checkbox', value='Poland')
                    label(for='Poland') Poland
                  fieldset.form-group.checkbox
                    input#Romania(type='checkbox', value='Romania')
                    label(for='Romania') Romania
                  fieldset.form-group.checkbox
                    input#Russia(type='checkbox', value='Russia')
                    label(for='Russia') Russia
                  fieldset.form-group.checkbox
                    input#Serbia(type='checkbox', value='Serbia')
                    label(for='Serbia') Serbia
                  fieldset.form-group.checkbox
                    input#Slovakia(type='checkbox', value='Slovakia')
                    label(for='Slovakia') Slovakia
                  fieldset.form-group.checkbox
                    input#Slovenia(type='checkbox', value='Slovenia')
                    label(for='Slovenia') Slovenia
                  fieldset.form-group.checkbox
                    input#Spain(type='checkbox', value='Spain')
                    label(for='Spain') Spain
                  fieldset.form-group.checkbox
                    input#Switzerland(type='checkbox', value='Switzerland')
                    label(for='Switzerland') Switzerland
                  fieldset.form-group.checkbox
                    input#Sweden(type='checkbox', value='Sweden')
                    label(for='Sweden') Sweden
                  fieldset.form-group.checkbox
                    input#Turkey(type='checkbox', value='Turkey')
                    label(for='Turkey') Turkey
                  fieldset.form-group.checkbox
                    input#UnitedKingdom(type='checkbox', value='United Kingdom')
                    label(for='UnitedKingdom') United Kingdom
                  fieldset.form-group.checkbox
                    input#Ukraine(type='checkbox', value='Ukraine')
                    label(for='Ukraine') Ukraine
              .panel.panel-default
                #africa.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                      | Africa
                #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='africa')
                  fieldset.form-group.checkbox
                    input#Angola(type='checkbox', value='Angola')
                    label(for='Angola') Angola
                  fieldset.form-group.checkbox
                    input#Algeria(type='checkbox', value='Algeria')
                    label(for='Algeria') Algeria
                  fieldset.form-group.checkbox
                    input#burkinafaso(type='checkbox', value='Burkina Faso')
                    label(for='burkinafaso') Burkina Faso
                  fieldset.form-group.checkbox
                    input#Burundi(type='checkbox', value='Burundi')
                    label(for='Burundi') Burundi
                  fieldset.form-group.checkbox
                    input#Benin(type='checkbox', value='Benin')
                    label(for='Benin') Benin
                  fieldset.form-group.checkbox
                    input#Botswana(type='checkbox', value='Botswana')
                    label(for='Botswana') Botswana
                  fieldset.form-group.checkbox
                    input#Cameroon(type='checkbox', value='Cameroon')
                    label(for='Cameroon') Cameroon
                  fieldset.form-group.checkbox
                    input#Congo(type='checkbox', value='Congo')
                    label(for='Congo') Congo
                  fieldset.form-group.checkbox
                    input#CotedIvoire(type='checkbox', value="Côte d'Ivoire")
                    label(for="Coted'Ivoire") Côte d'Ivoire
                  fieldset.form-group.checkbox
                    input#CentralAfricanRep(type='checkbox', value='Central African Rep')
                    label(for='CentralAfricanRep') Central African Rep
                  fieldset.form-group.checkbox
                    input#DemRepCongo(type='checkbox', value='Dem. Rep. Congo')
                    label(for='DemRepCongo') Dem. Rep. Congo
                  fieldset.form-group.checkbox
                    input#Djibouti(type='checkbox', value='Djibouti')
                    label(for='Djibouti') Djibouti
                  fieldset.form-group.checkbox
                    input#Ethiopia(type='checkbox', value='Ethiopia')
                    label(for='Ethiopia') Ethiopia
                  fieldset.form-group.checkbox
                    input#EqGuinea(type='checkbox', value='Eq. Guinea')
                    label(for='EqGuinea') Eq. Guinea
                  fieldset.form-group.checkbox
                    input#Egypt(type='checkbox', value='Egypt')
                    label(for='Egypt') Egypt
                  fieldset.form-group.checkbox
                    input#Eritrea(type='checkbox', value='Eritrea')
                    label(for='Eritrea') Eritrea
                  fieldset.form-group.checkbox
                    input#Guyana(type='checkbox', value='Guyana')
                    label(for='Guyana') Guyana
                  fieldset.form-group.checkbox
                    input#Gabon(type='checkbox', value='Gabon')
                    label(for='Gabon') Gabon
                  fieldset.form-group.checkbox
                    input#Guinea(type='checkbox', value='Guinea')
                    label(for='Guinea') Guinea
                  fieldset.form-group.checkbox
                    input#Guinea-Bissau(type='checkbox', value='Guinea-Bissau')
                    label(for='Guinea-Bissau') Guinea-Bissau
                  fieldset.form-group.checkbox
                    input#Gambia(type='checkbox', value='Gambia')
                    label(for='Gambia') Gambia
                  fieldset.form-group.checkbox
                    input#Ghana(type='checkbox', value='Ghana')
                    label(for='Ghana') Ghana
                  fieldset.form-group.checkbox
                    input#Kenya(type='checkbox', value='Kenya')
                    label(for='Kenya') Kenya
                  fieldset.form-group.checkbox
                    input#Libya(type='checkbox', value='Libya')
                    label(for='Libya') Libya
                  fieldset.form-group.checkbox
                    input#Liberia(type='checkbox', value='Liberia')
                    label(for='Liberia') Liberia
                  fieldset.form-group.checkbox
                    input#Lesotho(type='checkbox', value='Lesotho')
                    label(for='Lesotho') Lesotho
                  fieldset.form-group.checkbox
                    input#Madagascar(type='checkbox', value='Madagascar')
                    label(for='Madagascar') Madagascar
                  fieldset.form-group.checkbox
                    input#Mali(type='checkbox', value='Mali')
                    label(for='Mali') Mali
                  fieldset.form-group.checkbox
                    input#Malawi(type='checkbox', value='Malawi')
                    label(for='Malawi') Malawi
                  fieldset.form-group.checkbox
                    input#Mauritania(type='checkbox', value='Mauritania')
                    label(for='Mauritania') Mauritania
                  fieldset.form-group.checkbox
                    input#Morocco(type='checkbox', value='Morocco')
                    label(for='Morocco') Morocco
                  fieldset.form-group.checkbox
                    input#Mozambique(type='checkbox', value='Mozambique')
                    label(for='Mozambique') Mozambique
                  fieldset.form-group.checkbox
                    input#Namibia(type='checkbox', value='Namibia')
                    label(for='Namibia') Namibia
                  fieldset.form-group.checkbox
                    input#Niger(type='checkbox', value='Niger')
                    label(for='Niger') Niger
                  fieldset.form-group.checkbox
                    input#Nigeria(type='checkbox', value='Nigeria')
                    label(for='Nigeria') Nigeria
                  fieldset.form-group.checkbox
                    input#PapuaNewGuinea(type='checkbox', value='Papua New Guinea')
                    label(for='PapuaNewGuinea') Papua New Guinea
                  fieldset.form-group.checkbox
                    input#Rwanda(type='checkbox', value='Rwanda')
                    label(for='Rwanda') Rwanda
                  fieldset.form-group.checkbox
                    input#Senegal(type='checkbox', value='Senegal')
                    label(for='Senegal') Senegal
                  fieldset.form-group.checkbox
                    input#SierraLeone(type='checkbox', value='Sierra Leone')
                    label(for='SierraLeone') Sierra Leone
                  fieldset.form-group.checkbox
                    input#Sudan(type='checkbox', value='Sudan')
                    label(for='Sudan') Sudan
                  fieldset.form-group.checkbox
                    input#Suriname(type='checkbox', value='Suriname')
                    label(for='Suriname') Suriname
                  fieldset.form-group.checkbox
                    input#SSudan(type='checkbox', value='S. Sudan')
                    label(for='SSudan') S. Sudan
                  fieldset.form-group.checkbox
                    input#Somalia(type='checkbox', value='Somalia')
                    label(for='Somalia') Somalia
                  fieldset.form-group.checkbox
                    input#Somaliland(type='checkbox', value='Somaliland')
                    label(for='Somaliland') Somaliland
                  fieldset.form-group.checkbox
                    input#SouthAfrica(type='checkbox', value='South Africa')
                    label(for='SouthAfrica') South Africa
                  fieldset.form-group.checkbox
                    input#Swaziland(type='checkbox', value='Swaziland')
                    label(for='Swaziland') Swaziland
                  fieldset.form-group.checkbox
                    input#Timor-Leste(type='checkbox', value='Timor-Leste')
                    label(for='Timor-Leste') Timor-Leste
                  fieldset.form-group.checkbox
                    input#Tunisia(type='checkbox', value='Tunisia')
                    label(for='Tunisia') Tunisia
                  fieldset.form-group.checkbox
                    input#Tanzania(type='checkbox', value='Tanzania')
                    label(for='Tanzania') Tanzania
                  fieldset.form-group.checkbox
                    input#Togo(type='checkbox', value='Togo')
                    label(for='Togo') Togo
                  fieldset.form-group.checkbox
                    input#Uganda(type='checkbox', value='Uganda')
                    label(for='Uganda') Uganda
                  fieldset.form-group.checkbox
                    input#WSahara(type='checkbox', value='W. Sahara')
                    label(for='WSahara') W. Sahara
                  fieldset.form-group.checkbox
                    input#Zimbabwe(type='checkbox', value='Zimbabwe')
                    label(for='Zimbabwe') Zimbabwe
                  fieldset.form-group.checkbox
                    input#Zambia(type='checkbox', value='Zambia')
                    label(for='Zambia') Zambia
              .panel.panel-default
                #northAmerica.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                      | North America
                #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='northAmerica')
                  fieldset.form-group.checkbox
                    input#Canada(type='checkbox', value='Canada')
                    label(for='Canada') Canada
                  fieldset.form-group.checkbox
                    input#Mexico(type='checkbox', value='Mexico')
                    label(for='Mexico') Mexico
                  fieldset.form-group.checkbox
                    input#UnitedStates(type='checkbox', value='United States')
                    label(for='UnitedStates') United States
              .panel.panel-default
                #southAmerica.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                      | Central and South America
                #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='southAmerica')
                  fieldset.form-group.checkbox
                    input#Argentina(type='checkbox', value='Argentina')
                    label(for='Argentina') Argentina
                  fieldset.form-group.checkbox
                    input#Bolivia(type='checkbox', value='Bolivia')
                    label(for='Bolivia') Bolivia
                  fieldset.form-group.checkbox
                    input#Brazil(type='checkbox', value='Brazil')
                    label(for='Brazil') Brazil
                  fieldset.form-group.checkbox
                    input#Bahamas(type='checkbox', value='Bahamas')
                    label(for='Bahamas') Bahamas
                  fieldset.form-group.checkbox
                    input#Belize(type='checkbox', value='Belize')
                    label(for='Belize') Belize
                  fieldset.form-group.checkbox
                    input#Chile(type='checkbox', value='Chile')
                    label(for='Chile') Chile
                  fieldset.form-group.checkbox
                    input#Cuba(type='checkbox', value='Cuba')
                    label(for='Cuba') Cuba
                  fieldset.form-group.checkbox
                    input#Colombia(type='checkbox', value='Colombia')
                    label(for='Colombia') Colombia
                  fieldset.form-group.checkbox
                    input#CostaRica(type='checkbox', value='Costa Rica')
                    label(for='Costa Rica') Costa Rica
                  fieldset.form-group.checkbox
                    input#DominicanRep(type='checkbox', value='Dominican Rep.')
                    label(for='DominicanRep') Dominican Republic
                  fieldset.form-group.checkbox
                    input#Ecuador(type='checkbox', value='Ecuador')
                    label(for='Ecuador') Ecuador
                  fieldset.form-group.checkbox
                    input#ElSalvador(type='checkbox', value='El Salvador')
                    label(for='ElSalvador') El Salvador
                  fieldset.form-group.checkbox
                    input#Jamaica(type='checkbox', value='Jamaica')
                    label(for='Jamaica') Jamaica
                  fieldset.form-group.checkbox
                    input#Guatemala(type='checkbox', value='Guatemala')
                    label(for='Guatemala') Guatemala
                  fieldset.form-group.checkbox
                    input#Haiti(type='checkbox', value='Haiti')
                    label(for='Haiti') Haiti
                  fieldset.form-group.checkbox
                    input#Honduras(type='checkbox', value='Honduras')
                    label(for='Honduras') Honduras
                  fieldset.form-group.checkbox
                    input#Paraguay(type='checkbox', value='Paraguay')
                    label(for='Paraguay') Paraguay
                  fieldset.form-group.checkbox
                    input#PuertoRico(type='checkbox', value='Puerto Rico')
                    label(for='PuertoRico') Puerto Rico
                  fieldset.form-group.checkbox
                    input#Panama(type='checkbox', value='Panama')
                    label(for='Panama') Panama
                  fieldset.form-group.checkbox
                    input#Peru(type='checkbox', value='Peru')
                    label(for='Peru') Peru
                  fieldset.form-group.checkbox
                    input#Peru(type='checkbox', value='Peru')
                    label(for='Peru') Peru
                  fieldset.form-group.checkbox
                    input#TrinidadandTobago(type='checkbox', value='Trinidad and Tobago')
                    label(for='TrinidadandTobago') Trinidad and Tobago
                  fieldset.form-group.checkbox
                    input#Venezuela(type='checkbox', value='Venezuela')
                    label(for='Venezuela') Venezuela
                  fieldset.form-group.checkbox
                    input#Nicaragua(type='checkbox', value='Nicaragua')
                    label(for='Nicaragua') Nicaragua
              .panel.panel-default
                #oceania.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                      | Oceania
                #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='oceania')
                  fieldset.form-group.checkbox
                    input#Australia(type='checkbox', value='Australia')
                    label(for='Australia') Australia
                  fieldset.form-group.checkbox
                    input#FalklandIs(type='checkbox', value='Falkland Is.')
                    label(for='FalklandIs.') Falkland Islands
                  fieldset.form-group.checkbox
                    input#Fiji(type='checkbox', value='Fiji')
                    label(for='Fiji') Fiji
                  fieldset.form-group.checkbox
                    input#SolomonIs(type='checkbox', value='Solomon Is.')
                    label(for='SolomonIs') Solomon Islands
                  fieldset.form-group.checkbox
                    input#Vanuatu(type='checkbox', value='Vanuatu')
                    label(for='Vanuatu') Vanuatu
                  fieldset.form-group.checkbox
                    input#NewCaledonia(type='checkbox', value='New Caledonia')
                    label(for='NewCaledonia') New Caledonia
                  fieldset.form-group.checkbox
                    input#NewZealand(type='checkbox', value='New Zealand')
                    label(for='NewZealand') New Zealand
              .panel.panel-default
                #antartica.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                      | Antartica
                #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='antartica')
                  fieldset.form-group.checkbox
                    input#antartica(type='checkbox', value='Fr. S. Antarctic Lands')
                    label(for='antartica') Antartica
      //- Main information
      #mapdiv.col-xs-6
        .col-xs-12
          h1#mapheader My Map
          #map
        .col-xs-12
          #travelstats
          table.table
            thead.thead-inverse
              tr
                td#tableheader Travel Stats
            tbody
              tr
                td World Coverage
                td#worldCoverage
              tr
                td Travel Percentage
                td#travelPercentage
              tr
                td Travel Level
                td#travelLevel





  script(type='text/javascript', src='js/country_code.js')
  script(type='text/javascript', src='js/locations.js')