extends base/layout

block main
  nav.navbar.navbar-dark.bg-primary
    //- Collapse button
    button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx2')
      i.fa.fa-bars
    .container
      //- Collapse content
      #collapseEx2.collapse.navbar-toggleable-xs
        //- Navbar Brand
        a.navbar-brand(href='#') Navbar
        //- Links
        ul.nav.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') My Profile
          li.nav-item
            a.nav-link(href='#') Friends
        //- Search form
        form.form-inline
          input.form-control(type='text', placeholder='Search')
      //- /.Collapse content
  #mainbody.container
    //- First row
    form(action='/user', method='PUT')
      #myLocations.row
        .col-md-7
          h1  My Locations
          #accordion(role='tablist', aria-multiselectable='true')
            .panel.panel-default
              #asia.panel-heading(role='tab')
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                    | Asia
              #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='asia')
                fieldset.form-group.checkbox
                  input#china(type='checkbox', value='China')
                  label(for='china') China
                fieldset.form-group.checkbox
                  input#india(type='checkbox', value='India')
                  label(for='india') India
                fieldset.form-group.checkbox
                  input#vietnam(type='checkbox', value='Vietnam')
                  label(for='vietnam') Vietnam
                fieldset.form-group.checkbox
                  input#cambodia(type='checkbox', value='Cambodia')
                  label(for='cambodia') Cambodia
                fieldset.form-group.checkbox
                  input#laos(type='checkbox', value='laos')
                  label(for='laos') Laos
            .panel.panel-default
              #europe.panel-heading(role='tab')
                h4.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                    | Europe
              #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='europe')
                fieldset.form-group.checkbox
                  input#england(type='checkbox', value='England')
                  label(for='england') England

            .panel.panel-default
              #africa.panel-heading(role='tab')
                h4.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                    | Africa
              #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='africa')
                fieldset.form-group.checkbox
                  input#ghana(type='checkbox', value='ghana')
                  label(for='ghana') Ghana
            .panel.panel-default
              #northAmerica.panel-heading(role='tab')
                h4.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                    | North America
              #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='northAmerica')
                fieldset.form-group.checkbox
                  input#canada(type='checkbox', value='canada')
                  label(for='canada') Canada
            .panel.panel-default
              #southAmerica.panel-heading(role='tab')
                h4.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                    | South America
              #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='southAmerica')
                fieldset.form-group.checkbox
                  input#chile(type='checkbox', value='chile')
                  label(for='chile') Chile
            .panel.panel-default
              #oceania.panel-heading(role='tab')
                h4.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                    | Oceania
              #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='oceania')
                fieldset.form-group.checkbox
                  input#australia(type='checkbox', value='australia')
                  label(for='australia') Australia
            .panel.panel-default
              #antartica.panel-heading(role='tab')
                h4.panel-title
                  a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                    | Antartica
              #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='antartica')
                fieldset.form-group.checkbox
                  input#antartica(type='checkbox', value='antartica')
                  label(for='antartica') Antartica
    //- Main information
    #map(style="height: 800px")

  script(type='text/javascript', src='js/country_code.js')
  script(type='text/javascript', src='js/locations.js')