* {

  font-family: 'Alegreya Sans SC', sans-serif;
}


/*PROFILE SET UP PAGE*/


#myLocations {
  padding: 30px;
  height: 600px;
  overflow: auto;
}

#myLocations h1 {
  margin-bottom: 10px;
  font-size: 40px;
}

#mapheader {
  margin-bottom: 10px;
  margin-top: 25px;
  font-size: 40px;
}

.panel-title {
  padding: 10px;
}

.checkbox {
  font-size: 15px;
  padding-left: 10px;
}

#map {
  height: 300px;
  margin-top: 20px;
}

#tableheader {
  font-size: 30px;
}

td {
  font-size: 20px;
}


/*PROFILE PAGE ONLY  */

#loc {
  display: none;
}
