* {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/*PROFILE SET UP PAGE*/
#myLocations {
  height: 600px;
  margin-left: 30px;
  overflow: auto;
}

#myLocations h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

#mapheader {
  margin-bottom: 10px;
  font-size: 30px;
}

.panel-title {
  padding: 10px;
}

.checkbox {
  font-size: 15px;
  padding-left: 10px;
}

#map {
  height: 300px;
  margin-top: 20px;
}

/*The Travel Stats Table*/

th {
  font-size: 20px;
}


td {
  font-size: 15px;
  width: 50%;
}

th, td {
  border-bottom: 1px solid #ddd;
}


/*PROFILE PAGE ONLY  */

#loc {
  display: none;
}

#myModal .md-form i {
  left: 0;
}
