doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title TRAVELUP

    //- JS
    script(type='text/javascript', src='lib/js/jquery-2.2.3.min.js')
  body
    //- Main Content Style
    block style

    //- Main Content Script
    block script

    //- Main Content
    block main
